@font-face {
  font-family: "Baskerville Old Face Bold";
  src: url("./fonts/baskvill.ttf") format("truetype");
}

@font-face {
  font-family: "Josefin Sans Light";
  src: url("./fonts/JosefinSans-Light.ttf") format("truetype");
}

body {
  margin: 0 auto;
  background: #546752;
}

@import "./banner";
@import "./gallery";
@import "./nav";
@import "./about";
@import "./footer";
@import "./popup";
@import "./contact";
@import "./map";
@import "./hamburger";
@import "./form";
